@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "light-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Light.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.svg#NeurialGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.svg#NeurialGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "light-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Light.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.svg#NeurialGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.svg#NeurialGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "light-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Light.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.svg#NeurialGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.svg#NeurialGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Neurial Grotesk;
}

.background-color-white {
  background-color: white;
}

.text-color {
  color: #A2A2A2;
}

.margin {
  margin: auto 214px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .margin {
    margin: auto 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .margin {
    margin: 0px 20px 0 20px;
  }
}

.color {
  background-color: #F4F4F4;
  border: 1px solid #FFFFFF;
}

.main-container {
  width: 1920px;
  margin: auto;
}
@media screen and (min-width: 320px) and (max-width: 1535px) {
  .main-container {
    width: auto;
  }
}

.case-details-heading {
  background-image: url(/assets/image/case-detials-main-img.png);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.case-details-heading .transport-heading {
  font-size: 16px;
}
.case-details-heading .case-details-main-heading-cintent {
  width: 979px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .case-details-heading .case-details-main-heading-cintent {
    width: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: light-Neurial Grotesk;
  font-size: 40px;
}

header {
  background-color: #00065a;
  color: white;
}
header .header-img {
  width: 300px;
}
header .nav-margin {
  margin: auto 270px auto 270px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .nav-margin {
    margin: auto 20px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  header .nav-margin {
    margin: auto 20px;
  }
}
header .nav-margin div:first-child {
  color: #BCFA01;
  margin-bottom: 18px;
}
header .nav-margin .nav-button {
  border: 1px solid #BCFA01;
  background-color: #BCFA01;
  border-radius: 50px;
  padding: 10px 45px 10px 20px;
  color: black;
}
header .header-contain {
  margin: 146px 270px auto 270px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .header-contain {
    margin: auto 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  header .header-contain {
    margin: 146px 20px 0 20px;
  }
}
header .header-paragraph-no1 {
  width: 881px;
  font-size: 70px;
  line-height: 90px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .header-paragraph-no1 {
    margin: auto;
    width: auto;
    font-size: 21px;
    line-height: 29px;
  }
}
header .header-paragraph-no2 {
  width: 798px;
  font-size: 18px;
  margin-top: 16px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .header-paragraph-no2 {
    width: auto;
    font-size: 24px;
  }
}
header .button-1 {
  border: 1px solid #BCFA01;
  background-color: #BCFA01;
  border-radius: 50px;
  padding: 10px 20px;
  color: black;
}
header .button-2 {
  border: 1px solid #BCFA01;
  border-radius: 50px;
  padding: 10px 30px;
  color: white;
}
header .button-2:hover {
  background-color: #BCFA01;
  padding: 10px 30px;
  color: black;
}
header .sevice-page-header-paragraph-no1 {
  width: 881px;
  word-spacing: 8px;
  font-size: 25px;
  line-height: 38px;
}
header .Blog-maim-heading {
  font-size: 64px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .Blog-maim-heading {
    font-size: 24px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  header .mobile-menu li {
    margin-bottom: 10px;
  }
  header .info-header {
    width: auto;
  }
  header .mobile-menu {
    left: -200%;
    transition: 1s;
    z-index: 100;
    top: 50px;
    width: 300px !important;
    height: 200vh;
    transition: all ease 0.3s;
  }
  header .mobile-menu.active {
    left: 0;
  }
  header .header-image {
    width: auto !important;
    height: auto !important;
  }
}

.footer-heading {
  background-color: #0E0E0E;
}

.contact {
  color: #BCFA01;
}

.main-footer {
  background-color: #161616;
}
.main-footer .service {
  color: #f4f4f5;
}
.main-footer .main-footer-contain {
  gap: 90px;
  align-items: flex-start;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .main-footer .main-footer-contain {
    gap: 10px;
  }
}
.main-footer .footer-nav li {
  padding-bottom: 4px;
}
.main-footer .footer-nav {
  padding-bottom: 10px;
}
.main-footer .footer-section-button {
  background-color: #BCFA01;
  padding: 10px 30px;
  color: black;
  border-radius: 50px;
}
.main-footer .terms {
  border-top: 1px solid #292929;
  align-items: center;
}
.main-footer .terms .last-footer-terms h2 {
  font-size: 14px;
}
.main-footer .terms .last-footer-terms li {
  font-size: 14px;
}
.main-footer .terms .rights-heading {
  font-size: 14px;
}

.navbar a {
  text-decoration: none;
  position: relative;
  font-weight: 550;
  cursor: pointer;
}

.navbar a::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 2px;
  width: 0%;
  background: #BCFA01;
  transition: all ease 0.4s;
}

.navbar a:hover::before {
  width: 100%;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #BCFA01;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .blog-header {
    position: static;
  }
}

.web-development-header {
  background-color: #263748;
  border: 1px solid;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.error-header {
  padding: 1px 0 56px 0;
}

@font-face {
  font-family: "light-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Light.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Light.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Light.svg#NeurialGrotesk-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium-Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Medium.svg#NeurialGrotesk-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neurial Grotesk";
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot");
  src: url("/assets/fonts/neurial/NeurialGrotesk-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff2") format("woff2"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.woff") format("woff"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.ttf") format("truetype"), url("/assets/fonts/neurial/NeurialGrotesk-Regular.svg#NeurialGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.about-section-button {
  background-color: #BCFA01;
  padding: 10px 30px;
  color: black;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
}

.how-it-work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #091071;
}
.how-it-work-section .how-it-work-section-contain {
  margin: 13px 270px 79px 270px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .how-it-work-section .how-it-work-section-contain {
    margin: auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .how-it-work-section .how-it-work-section-contain {
    margin: 20px 0 20px;
  }
}

.heading {
  text-align: center;
  margin-top: 50px;
}
.heading .border-paragraph {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 5px;
}

.about-section {
  margin: 96px 270px 79px 270px;
}
.about-section .about-section-img {
  width: 20px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .about-section {
    margin: 20px 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .about-section {
    margin: 146px 20px 0 20px;
  }
}
.about-section .about-section-paragraph {
  width: 668px;
  line-height: 28px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .about-section .about-section-paragraph {
    width: auto;
  }
}
.about-section .about-section-heading {
  width: 668px;
  margin-bottom: 38px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .about-section .about-section-heading {
    width: auto;
    font-size: 20px;
  }
}

.cards-section {
  margin: 96px 270px 79px 270px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .cards-section {
    margin: 10px 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .cards-section {
    margin: 146px 20px 60px 20px;
  }
}
.cards-section .cards-contain {
  border: 1px solid #F4F4F5;
  margin: 12px;
  padding: 35px;
  background-color: #F4F4F5;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .cards-section .cards-contain {
    padding: 20px;
  }
}
.cards-section .cards-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}
.cards-section .cards-contain:hover:not(card-active) {
  background: #fff;
}
.cards-section .card-active {
  background: #fff;
}
.cards-section .cards-contain p {
  line-height: 22px;
  word-spacing: 5px;
}
.cards-section .cards-section-main-paragraph {
  font-size: 19px;
  margin-bottom: 53px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .cards-section .cards-section-main-paragraph {
    font-size: 12px;
    margin: 10px 10px;
  }
}

.design-an-branding-section {
  background-color: #091071;
}
.design-an-branding-section .design-an-branding-section-conatin {
  width: 963px;
}
.design-an-branding-section .design-an-branding-bg {
  margin: 96px 270px 79px 270px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .design-an-branding-section .design-an-branding-bg {
    margin: auto 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .design-an-branding-section .design-an-branding-bg {
    margin: 20px 20px 0 20px;
  }
}
.design-an-branding-section .design-an-branding-heading {
  font-size: 50px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .design-an-branding-section .design-an-branding-heading {
    font-size: 24px;
    margin-top: 20px;
  }
}
.design-an-branding-section .design-an-branding-paragraph {
  line-height: 38px;
  font-size: 22px;
  margin-top: 15px;
}

.Involed-Industries-section {
  margin: 96px 270px 79px 270px;
}
.Involed-Industries-section .involed-industries-name li:not(first-child) {
  margin-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .Involed-Industries-section {
    margin: 20px 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .Involed-Industries-section {
    margin: 146px 20px 0 20px;
  }
}
.Involed-Industries-section .Involed-Industries-paragraph {
  font-size: 23px;
}

.swiper-section {
  margin: auto 214px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .swiper-section {
    margin: auto 10px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .swiper-section {
    margin: 146px 20px 0 20px;
  }
}
.swiper-section .eCommerce-p {
  bottom: 41px;
  left: 52px;
}
.swiper-section .ecommerce-p-1 {
  border: 1px solid #FFFFFF;
  background-color: rgb(207, 209, 208);
  color: black;
  padding: 6px;
  font-size: 16px;
}
.swiper-section .ecommerce-p-2 {
  font-size: 24px;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .swiper-section .ecommerce-p-2 {
    font-size: 24px;
  }
}
.swiper-section .swiper-wrapper {
  margin-top: 72px;
}
.swiper-section .swiper-section-paragraph {
  font-size: 19px;
}

.blogs-section {
  margin-top: 70px;
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .blogs-section {
    margin: 146px 20px 0 20px;
  }
}
.blogs-section .blog-section-container-1 {
  background-color: #F4F4F4;
  border: 1px solid #FFFFFF;
}
.blogs-section .blog-container-1-heading {
  border: 1px solid #BCFA01;
  background-color: #BCFA01;
}
.blogs-section .blog-container-2-heading {
  border: 1px solid #D6F5D9;
  background-color: rgb(214, 247, 217);
}
.blogs-section .blog-container-3-heading {
  border: 1px solid #EBD6F5;
  background-color: rgb(235, 214, 245);
}
.blogs-section .blog-container-4-heading {
  border: 1px solid #D6DFF5;
  background-color: rgb(214, 223, 245);
  font-size: 20px;
}
.blogs-section .blog-container-5-heading {
  border: 1px solid #F5D6D6;
  background-color: rgb(245, 214, 214);
}
.blogs-section .blog-container-2 {
  padding: 8px;
}

.words-from-client-div {
  width: 370px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .words-from-client-div {
    width: auto;
  }
}
.words-from-client-div .words-from-client-heading {
  color: #00065a;
  font-size: 38px;
}
.words-from-client-div .words-from-client-heading-2 {
  font-size: 51px;
}
.words-from-client-div .profile-containt {
  font-size: 18px;
  line-height: 26px;
}

.container {
  margin: 50px auto;
}
.container .panel {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.container button.accordion {
  width: 100%;
  border-bottom: 2px solid #E3E3E3;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.container .panel-paragraph {
  font-size: 20px;
  line-height: 30px;
}
.container button.accordion:hover, .container button.accordion.is-open {
  background-color: #ddd;
}

.counter1 .counter-card1 h2 {
  font-size: 44px;
}
.counter1 .counter-card1 p {
  font-size: 20px;
}
.counter1 .counter-card1 h2 {
  color: #0f035a;
}
.counter1 .counter-box {
  border-bottom: 1px solid #e6e6e8;
  padding: 30px 57px 45px 27px;
}
.counter1 .counter-box-lift {
  border-left: 1px solid #e6e6e8;
  padding: 30px 57px 45px 27px;
}

.ecommerce-p-3 {
  border: 1px solid #FFFFFF;
  background-color: rgb(207, 209, 208);
  color: black;
  border: none;
  padding: 6px;
  font-size: 16px;
}

.ecommerce-p-4 {
  font-size: 24px;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .ecommerce-p-4 {
    font-size: 24px;
  }
}

.eCommerce-p-2 {
  bottom: 41px;
  left: 52px;
}

.card-container {
  padding: 30px 54px 44px 20px;
  border-bottom: 1px solid #e6e6e8;
  border-right: 1px solid #e6e6e8;
}

.card-container-end {
  border-bottom: 1px solid #e6e6e8;
  padding: 30px 54px 44px 20px;
}

.card-heading {
  padding: 10px 30px;
  margin-bottom: 40px;
}

.card-no1 {
  background-color: #EDEAFF;
}

.card-no2 {
  background-color: #fceaea;
}

.card-no3 {
  background-color: #dbfce8;
}

.card-no4 {
  background-color: #fdeaf8;
}

.card-no5 {
  background-color: #f8f2e7;
}

.card-no6 {
  background-color: #EaF3ff;
}

.card-no7 {
  background-color: #fdfbd9;
}

.the-models-cards {
  border-bottom: 1px solid #e6e6e8;
  padding: 50px;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .the-models-cards {
    font-size: 24px;
    padding: 10px;
  }
}
.models-1 {
  background-color: #FFF8EB;
}

.models-2 {
  background-color: #F0F7FF;
}

.models-3 {
  background-color: #E5FFF0;
}

.grid-counter {
  border: 1px solid #e6e6e8;
}

.counter-contain {
  width: 743px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .counter-contain {
    font-size: 14px;
    width: auto;
  }
}

.benifits-section .benifits-small-heading {
  font-size: 10px;
}
.benifits-section .benifits-small-paragraph {
  font-size: 12px;
  width: 302px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .benifits-section .benifits-small-paragraph {
    font-size: 12px;
    width: auto;
  }
}
.benifits-section .benifits-img {
  width: 30px;
}
.benifits-section .Benefits-styling-heading {
  top: 204px;
  left: -136px;
}
.benifits-section .tick-heading {
  border: 1px solid #e6e6e8;
  padding: 13px 21px 14px 28px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  left: -175px;
  bottom: 38%;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .benifits-section .tick-heading {
    left: 4px;
    bottom: 34%;
    padding: 14px 15px 14px 15px;
    font-size: 16px;
  }
}
.benifits-section .tick-heading-2 {
  border: 1px solid #e6e6e8;
  padding: 13px 81px 14px 28px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  left: -196px;
  bottom: 25%;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .benifits-section .tick-heading-2 {
    left: 4px;
    bottom: 17%;
    padding: 14px 40px 14px 15px;
    font-size: 16px;
  }
}
.benifits-section .tick-heading-3 {
  border: 1px solid #e6e6e8;
  padding: 13px 68px 14px 28px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
  left: -220px;
  bottom: 12%;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .benifits-section .tick-heading-3 {
    left: 4px;
    bottom: 1%;
    padding: 14px 16px 14px 15px;
    font-size: 16px;
  }
}

.cards-contain {
  border: 1px solid #F4F4F5;
  margin: 12px;
  padding: 35px;
  background-color: #F4F4F5;
}

select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #E8E8E8;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}

.case-imgs {
  width: 100%;
}

.case-imgs-load-button {
  background-color: #BCFA01;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.case-details-main-content p {
  line-height: 38px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .case-details-main-content p {
    line-height: 25px;
  }
}

.case-details-main-content .img-ul {
  list-style-image: url(/assets/image/list-img.svg);
}
.case-details-main-content .language-list {
  list-style-type: disc;
  color: #FFFFFF;
  gap: 50px;
}
.case-details-main-content .case-language-details {
  padding: 0 100px;
  margin: 10px 0;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .case-details-main-content .case-language-details {
    padding: 10px;
  }
}
.case-details-main-content .result-section {
  background-color: #F4F4F5;
  padding: 33px 0 37px 30px;
  border-radius: 5px;
}
.case-details-main-content .aside-case-detials {
  background-color: #F4F4F5;
  padding: 33px 0 34px 30px;
  border-radius: 5px;
}
.case-details-main-content .subcribe-section {
  background-color: #F4F4F5;
  border-radius: 5px;
  padding: 37px 18px 32px 25px;
  border-top: 10px solid rgb(188, 250, 1);
}
.case-details-main-content .input-type-subcribe {
  padding: 15px 115px 15px 18px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
  .case-details-main-content .input-type-subcribe {
    padding: 15px 50px 15px 18px;
  }
}
.case-details-main-content .aside-case-detials li {
  margin-top: 10px;
  list-style-type: disc;
}
.case-details-main-content .subcribe-button {
  display: block;
  text-align: center;
}

.Blog-main-content p {
  color: #999aa4;
}

.Blog-main-content {
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  position: relative;
}
@media screen and (min-width: 1025px) and (max-width: 1535px) {
  .Blog-main-content {
    top: -20px;
  }
}
.Blog-main-content .blog-section-sub-part-1 {
  border: 1px solid white;
  padding: 20px;
  background-color: #F4F4F5;
}
.Blog-main-content .blog-section-sub-part-1 {
  border: 1px solid white;
  padding: 20px;
  background-color: #F4F4F5;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .Blog-main-content .blog-section-sub-part-1 {
    padding: 10px;
  }
}
.Blog-main-content .blog-section-sub-part-2 {
  border: 3px solid #F4F4F5;
}
.Blog-main-content .clock-icon {
  width: 22px;
}
.Blog-main-content .aside-container-of-blog {
  border: 1px solid white;
  background-color: #F4F4F5;
  border-radius: 5px;
}
.Blog-main-content .genral {
  padding: 22px 15px;
  background-color: rgb(235, 214, 245);
}
.Blog-main-content .genral-color-2 {
  padding: 10px 15px;
  background-color: #EDEAFF;
}
.Blog-main-content .genral-color-3 {
  padding: 10px 15px;
  background-color: #E5FFF0;
}
.Blog-main-content .genral-color-4 {
  padding: 10px 15px;
  background-color: #f8f2e7;
}
.Blog-main-content .genral-color-5 {
  padding: 10px 15px;
  background-color: #EaF3ff;
}

.Blog-details-main-content-contact-us {
  border: 1px solid #F4F4F5;
  padding: 10px;
  border-radius: 5px;
  padding: 37px 18px 32px 25px;
  border-top: 10px solid rgb(188, 250, 1);
}

.img-ul {
  list-style-image: url(/assets/image/list-img.svg);
}

.img-ul li {
  margin-top: 10px;
}

.genral {
  padding: 22px 15px;
  font-size: 16px;
  background-color: rgb(235, 214, 245);
}

.genral-color-2 {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #EDEAFF;
}

.genral-color-3 {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #E5FFF0;
}

.genral-color-4 {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #f8f2e7;
}

.genral-color-5 {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #EaF3ff;
}

.aside-container-of-blog {
  border: 1px solid white;
  background-color: #F4F4F5;
  border-radius: 5px;
}

.Blog-details-main-content p {
  width: 856px;
}
@media screen and (min-width: 320px) and (max-width: 1150px) {
  .Blog-details-main-content p {
    width: auto;
  }
}

.date-heading {
  font-size: 15px;
}

.aside-content {
  font-size: 16px;
  line-height: 27px;
}

.contact-content input {
  background-color: #FBFBFB;
  padding: 10px;
  width: 406px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .contact-content input {
    width: auto;
  }
}

.contact-content textarea {
  background-color: #FBFBFB;
  padding: 10px;
  width: 845px;
  height: 155px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .contact-content textarea {
    width: auto;
  }
}

.drag-area {
  border: 2px dashed #fff;
  width: 845px;
  border-radius: 5px;
  display: flex;
  background-color: #AAAEF2;
  align-items: center;
  gap: 15px;
  padding-left: 26px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .drag-area {
    width: auto;
  }
}

.drag-area.active {
  border: 2px solid #fff;
}

.drag-area .icon {
  font-size: 100px;
  color: #fff;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.drag-area button {
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .drag-area img {
    width: auto;
  }
}

.recaptcha-section {
  border: 1px solid gray;
  border-radius: 5px;
}
.recaptcha-section .recaptcha {
  width: 80px;
}

.captha-button {
  border: 1px solid #BCFA01;
  background-color: #BCFA01;
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  color: black;
}

.icon-content {
  font-size: 16px;
}

.form-paragraph {
  width: 845px;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .form-paragraph {
    width: auto;
  }
}

.file-names-paragraph {
  font-size: 12px;
  padding-top: 20px;
  display: flex;
  justify-content: end;
}

.tecnology-section-sub-part-1 {
  border: 1px solid white;
  padding: 42px;
  border-radius: 5px;
  background-color: #F4F4F5;
}
.tecnology-section-sub-part-1 .tecnology-section-sub-part-2 {
  border: 1px solid white;
  padding: 42px;
  border-radius: 5px;
  background-color: #F4F4F5;
}
.tecnology-section-sub-part-1 .language-imgs {
  gap: 100px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .tecnology-section-sub-part-1 .language-imgs {
    gap: 40px;
  }
}
.tecnology-section-sub-part-1 .hyper-link {
  border: 1px solid #FBFBFB;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
}
.tecnology-section-sub-part-1 .hyper-link i {
  margin-left: 5px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .tecnology-section-sub-part-1 {
    padding: 10px;
  }
}

.tecnology-section-sub-part-2 {
  border: 1px solid white;
  padding: 42px;
  border-radius: 5px;
}
.tecnology-section-sub-part-2 .language-imgs {
  gap: 100px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .tecnology-section-sub-part-2 .language-imgs {
    gap: 40px;
  }
}
.tecnology-section-sub-part-2 .hyper-link {
  border: 1px solid #FBFBFB;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
}
.tecnology-section-sub-part-2 .hyper-link i {
  margin-left: 5px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .tecnology-section-sub-part-2 {
    padding: 10px;
  }
}

.multiple-crads {
  border: 1px solid #E9E9E9;
  background-color: #FBFBFB;
  padding: 44px 54px 42px 48px;
  line-height: 40px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .multiple-crads {
    padding: 20px;
    line-height: 23px;
  }
}

.select-1 {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #E8E8E8;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.career-search-input {
  background-color: #E8E8E8;
  padding: 6px 18px;
  border-radius: 5px;
}

.career-read-more-btn {
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
}

.technology-career {
  padding: 19px 19px 20px 12px;
}
.technology-career .tech-no-caed p {
  font-size: 14px;
  margin-top: 10px;
}

.tech-img {
  padding: 8px 26px 12px 26px;
  background-color: #f2f1f1;
  border-color: #e9e9e9;
  border-radius: 100px;
}
.tech-img img {
  width: 100% !important;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.read-me,
.search {
  padding: 14px 48px;
}

.select-filed {
  width: 284px;
  margin-right: 23px;
}
@media screen and (max-width: 1279px) {
  .select-filed {
    width: 100%;
  }
}

.techno-color {
  background-color: #fbfbfb;
}

.career-color-input {
  background-color: #f4f4f5 !important;
}

.body-modal {
  background: #fff;
  z-index: 1000;
  padding: 30px 50px 42px 40px;
}

.cross-button {
  background-color: #ededed;
  padding: 12px 18px;
}

.ctc-gap {
  gap: 46px;
}

.custom-upload {
  background-color: #f5f6f6;
  margin-top: 34px;
  padding: 34px 288px;
  border-color: #b1b1b1;
}

.tech-img-2 {
  padding: 20px 23px 26px 23px !important;
}

.tech-img-3 {
  padding: 24px 2px 20px 2px !important;
}

.tech-img-4 {
  padding: 18px 15px 22px 15px !important;
}

.tech-img-5 {
  padding: 18px 23px 22px !important;
}

.tech-img-6 {
  padding: 20px 18px 20px 19px !important;
}

.tech-img-7 {
  padding: 28px 27px 20px 27px !important;
}

.tech-img-8 {
  padding: 23px 21px 19px 25px !important;
}

.career-table {
  margin-top: 50px;
}

.td-width {
  width: 584px;
}
@media screen and (max-width: 767px) {
  .td-width {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .td-width {
    width: 400px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .td-width {
    width: 460px !important;
  }
}

.top-padding {
  padding: 19px 19px 20px 12px;
}
@media screen and (max-width: 767px) {
  .top-padding {
    padding: 19px 0 0;
  }
}

.bottom-padding {
  padding: 19px 19px 20px;
}
@media screen and (max-width: 767px) {
  .bottom-padding {
    padding: 0 0 19px;
    align-items: center;
  }
}

.non-floating {
  gap: 107px !important;
}
@media screen and (max-width: 767px) {
  .non-floating {
    gap: 50px !important;
    margin: 16px !important;
  }
  .non-floating li {
    font-size: 12px;
  }
  .non-floating .apply-now {
    padding: 16px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1279px) {
  .non-floating {
    gap: 20px !important;
    grid-template-columns: auto 300px;
    padding: 10px 16px;
  }
  .non-floating aside {
    width: 300px;
    justify-self: end;
  }
  .non-floating li {
    font-size: 14px;
  }
}

.career-section-button {
  background-color: #BCFA01;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#edit {
  background-color: #BCFA01;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.career-details-aside {
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  padding: 22px 27px 34px 26px;
  width: 379px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .career-details-aside {
    width: auto;
  }
}

.career-details-aside-heading {
  color: #E2E2E2;
  font-size: 20px;
}

.career-details-section-button {
  background-color: #BCFA01;
  padding: 10px 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.condition-page-content {
  color: #999aa4;
  line-height: 30px;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  .condition-page-content {
    line-height: 26px;
  }
}

.condition-page-ul li {
  list-style-type: disc;
  color: gray;
}

.condition-page-ul {
  margin-left: 22px;
}

.site-linkes {
  border-color: #e9e9e9;
  margin-top: 69px;
}
.site-linkes a {
  font-size: 16px;
}
.site-linkes .content-2 {
  gap: 91px;
}
.site-linkes .content-2 li {
  margin-top: 17px;
}
.site-linkes .content-2 li:first-child {
  margin-top: 28px;
}
@media screen and (max-width: 640px) {
  .site-linkes {
    margin: 30px 10px 0;
  }
  .site-linkes a {
    font-size: 12px;
  }
  .site-linkes .content-2 {
    gap: 50px;
  }
  .site-linkes .list-items-2 {
    margin: 14px 0 24px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .site-linkes {
    margin: 30px 20px 0;
  }
  .site-linkes a {
    font-size: 14px;
  }
  .site-linkes .content-2 {
    gap: 60px;
  }
  .site-linkes .list-items-2 {
    margin: 20px 0 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .site-linkes {
    margin: 30px 40px 0;
  }
  .site-linkes .content-2 {
    gap: 60px;
  }
  .site-linkes .list-items-2 {
    margin: 28px 0 40px;
    gap: 28px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .site-linkes {
    margin: 40px 40px 0;
  }
}

.list-items-2 {
  gap: 120px;
  margin: 28px 0 60px;
}
.list-items-2 li {
  margin-top: 5px !important;
}
.list-items-2 li:first-child {
  margin-top: 18px !important;
}

.close-btn {
  border: 1px solid;
  border-radius: 50px;
  background-color: #EDEDED;
  padding: 1px 9px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center button {
  padding: 10px 20px;
  font-size: 15px;
  color: #222;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}
.box-modal .body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-modal.modal-show {
  visibility: visible;
  transition: all 0.9s;
}
.box-modal.modal-show .overlay {
  opacity: 0.5;
  transition: opacity 1.3s;
}
.box-modal.modal-show .body-modal {
  max-height: 1000px;
  opacity: 1;
  z-index: 200;
  width: 1004px;
  transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
}
@media screen and (min-width: 320px) and (max-width: 1535px) {
  .box-modal .body-modal {
    max-height: 100% !important;
    top: 0;
    overflow-y: scroll;
    transform: none;
    left: auto;
  }
  .box-modal .custom-upload {
    padding: 20px 14px;
    margin-top: 20px;
  }
  .box-modal .ctc-gap {
    gap: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .box-modal .overlay {
    overflow-y: none;
  }
  .box-modal .body-modal {
    top: 0px;
    width: 100% !important;
    padding: 0;
  }
  .box-modal .body-modal form {
    padding: 0 20px 26px;
    height: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .box-modal .body-modal {
    padding: 6px 26px 12px 21px;
  }
}
@media screen and (min-width: 1536px) and (max-width: 1727px) {
  .box-modal .body-modal {
    max-height: 100%;
    padding: 8px 28px 24px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .box-modal .body-modal {
    padding: 12px 28px;
  }
}

.active-modal {
  overflow: hidden;
}
.active-modal .mobile-unblur {
  z-index: 0;
}

.search {
  background-color: #BCFA01;
  border-radius: 100px;
}

.searching-filed {
  background-image: url("/assets/image/clint-page/Search.svg");
  background-repeat: no-repeat;
  background-position: left 14px top 50%;
  padding-left: 54px;
  width: 494px;
  margin-right: 23px;
}
@media screen and (max-width: 1279px) {
  .searching-filed {
    width: 100%;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 169px 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #e6e6e8;
  border-radius: 4px;
  appearance: none;
  background-image: url("/assets/image/contact-us-image/arrow-down.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right 16px top 50% !important;
}

.technology-career {
  padding: 19px 19px 20px 12px;
}
.technology-career .tech-no-caed p {
  font-size: 14px;
  margin-top: 10px;
}

.tech-img {
  padding: 16px 25px 16px 26px;
  background-color: #f2f1f1;
  border-color: #e9e9e9;
  border-radius: 100px;
}
.tech-img img {
  width: 100% !important;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.read-me,
.search {
  padding: 14px 48px;
}

.select-filed {
  width: 284px;
  margin-right: 23px;
}
@media screen and (max-width: 1279px) {
  .select-filed {
    width: 100%;
  }
}

.techno-color {
  background-color: #fbfbfb;
}

.career-color-input {
  background-color: #f4f4f5 !important;
}

.body-modal {
  background: #fff;
  z-index: 1000;
  padding: 30px 50px 42px 40px;
}

.cross-button {
  background-color: #ededed;
  padding: 12px 18px;
}

.ctc-gap {
  gap: 46px;
}

.custom-upload {
  background-color: #f5f6f6;
  margin-top: 34px;
  padding: 34px 288px;
  border-color: #b1b1b1;
}/*# sourceMappingURL=style_scss.css.map */