@import "./variable";


  .about-section-button {
     background-color: #BCFA01;
     padding: 10px  30px ; 
      color: black;
      border-radius: 50px;
      display: inline-block;
margin-top: 20px;
   }
 .how-it-work-section{
   display: flex;
 flex-direction: column;
align-items: center;
color: #fff;
background-color: #091071;
.how-it-work-section-contain{
   margin:13px 270px 79px 270px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin: auto;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:    20px 0 20px;
}
 } 
 }


 .heading{
   
   text-align: center;
margin-top: 50px;
.border-paragraph{
   border-left:1px solid #fff;
   border-top:1px solid #fff;
   border-right:1px solid #fff;
   padding: 5px;
 }

 
 }

 .about-section{
   margin: 96px 270px 79px 270px;
   .about-section-img{
      width: 20px;
   }
   @media screen and (min-width:320px)and(max-width:1279px){
      margin: 20px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   .about-section-paragraph{
      width: 668px;
      line-height: 28px;
      @media screen and (min-width:320px)and(max-width:1279px){
         width: auto;

     }

    }
    .about-section-heading{
      width: 668px;
      margin-bottom: 38px;
      @media screen and (min-width:320px)and(max-width:1279px){
         width: auto;
         font-size: 20px;
     }
    }
 }


 
.cards-section{
   margin: 96px 270px 79px 270px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:10px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 60px 20px;
}
   .cards-contain{
      border: 1px solid #F4F4F5;
      margin: 12px;
      padding: 35px;
      background-color: #F4F4F5;
      @media screen and (min-width:320px)and(max-width:1279px){
        padding: 20px;
     }
    }
    .cards-heading{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 25px;
      }
      .cards-contain:hover:not(card-active){
         background:#fff;
         }
         .card-active{
            background:#fff;
         }
         .cards-contain p{
            line-height: 22px;
            word-spacing: 5px;
          }
     
          .cards-section-main-paragraph{
            font-size: 19px;
            margin-bottom: 53px;
            @media screen and (min-width:320px)and(max-width:1279px){
               font-size: 12px;
               margin: 10px 10px;
           }
          }
}



.design-an-branding-section{
   background-color: #091071;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin: auto;
      
      // .design-an-branding-section{
        
      // }
}
   .design-an-branding-section-conatin{
      width: 963px;
   }
   .design-an-branding-bg{
      margin: 96px 270px 79px 270px;
      @media screen and (min-width:320px)and(max-width:1279px){
         margin:auto 10px;
     }
     @media screen and (min-width:1280px)and(max-width:1535px){
      margin:  20px 20px 0 20px;
  }
   }
   .design-an-branding-heading{
      font-size: 50px;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 24px;
         margin-top: 20px;
     }
   }
   .design-an-branding-paragraph{
      line-height: 38px;
    font-size: 22px;
    margin-top: 15px;
   }
}

.Involed-Industries-section{
   margin: 96px 270px 79px 270px;
   .involed-industries-name li:not(first-child){
      margin-top: 15px;
   }
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:20px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   // .Involed-Industries-list{
   //    display: grid;
   //    grid-template-columns: auto auto auto auto auto;
   //    gap: 28px;
   //    margin-top: 40px;
   // }
 
   .Involed-Industries-paragraph{
font-size: 23px;
   }
}
// over 
.swiper-section{
   margin: auto 214px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:auto 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   .eCommerce-p{
      bottom: 41px;
      left: 52px;
   }
   .ecommerce-p-1{
      border: 1px solid #FFFFFF;
      background-color: rgb(207, 209, 208);
      color: black;
     padding: 6px;
      font-size: 16px;
   }
   .ecommerce-p-2{
       font-size: 24px;
      color:white;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 24px;
     }
   }
   .swiper-wrapper{
      margin-top: 72px;
   }
 
   .swiper-section-paragraph{
      font-size: 19px;
   }
}

// over

.blogs-section{
   margin-top: 70px;
   @media screen and (min-width:1280px)and(max-width:1535px){
      margin:  146px  20px 0 20px;
  }
   .blog-section-container-1{
      background-color: #F4F4F4;
      border: 1px solid #FFFFFF;
   }
   .blog-container-1-heading{
      border: 1px solid  #BCFA01;
      background-color:  #BCFA01;
      
   }
   .blog-container-2-heading{
      border: 1px solid  #D6F5D9 ;
      background-color:   rgb(214, 247, 217);
   }
   .blog-container-3-heading{
      border: 1px solid  #EBD6F5;
      background-color:   rgb(235, 214, 245);
   }
   .blog-container-4-heading{
      border: 1px solid  #D6DFF5;
      background-color:   rgb(214, 223, 245);
      font-size: 20px;
   }
   .blog-container-5-heading{
      border: 1px solid  #F5D6D6;
      background-color:   rgb(245, 214, 214);
   }

.blog-container-2{
   padding: 8px;
}
}
// 

.words-from-client-div{
   width: 370px;
   @media screen and (min-width:320px)and(max-width:1279px){
      width: auto;
  }
   .words-from-client-heading{
 color: $header-background ;
 font-size: 38px;
}
.words-from-client-heading-2{
font-size: 51px;
  }
.profile-containt{
   font-size: 18px;
   line-height: 26px;
}
}
// 
// 
 
 .container {
margin: 50px auto;

 
.panel {
   background-color: white;
   border-left: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   padding: 0 20px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-in-out;
 }

 button.accordion {
   width: 100%;
    border-bottom: 2px solid #E3E3E3;
   outline: none;
   text-align: left;
   padding: 15px 20px;
   color: #333;
   cursor: pointer;
   transition: background-color 0.2s linear;
 }
 .panel-paragraph{
   font-size: 20px;
   line-height: 30px;
 }
 
 
 button.accordion:hover, button.accordion.is-open {
   background-color: #ddd;
 }
 }
// 
 
// 
.counter1 {
 
    .counter-card1 h2 {
      font-size: 44px;
    }
    .counter-card1 p {
      font-size: 20px;
    }
    .counter-card1 h2{
      color:#0f035a;
    }
    .counter-box{
border-bottom: 1px solid  #e6e6e8;
padding: 30px 57px 45px 27px;
    }
    .counter-box-lift{
      border-left: 1px solid  #e6e6e8;
      padding: 30px 57px 45px 27px;
    }
 }
//  

.ecommerce-p-3{
   border: 1px solid #FFFFFF;
   background-color: rgb(207, 209, 208);
   color: black;
   border: none;
  padding: 6px;
   font-size: 16px;
}
 
.ecommerce-p-4{
   font-size: 24px;
  color:white;
  @media screen and (min-width:320px)and(max-width:1279px){
     font-size: 24px;
 }
}
.eCommerce-p-2{
   bottom: 41px;
   left: 52px;
}
 
.card-container{
  padding: 30px 54px 44px 20px;
   // &:first-child,
   // &:nth-child(4){
   // border: 1px solid black;
border-bottom: 1px solid #e6e6e8;
border-right: 1px solid  #e6e6e8; 
}

.card-container-end{  
   border-bottom: 1px solid #e6e6e8;
   padding: 30px 54px 44px 20px;
}
.card-heading {
   padding: 10px 30px;
   margin-bottom: 40px;
}
.card-no1 {
   background-color: #EDEAFF;
}
.card-no2 {
   background-color: #fceaea;
}
.card-no3 {
   background-color: #dbfce8;
}
.card-no4 {
   background-color: #fdeaf8;
}
.card-no5{
   background-color: #f8f2e7;
}
.card-no6 {
   background-color: #EaF3ff;
}
.card-no7 {
   background-color: #fdfbd9;
}
.the-models-cards{
   border-bottom: 1px solid #e6e6e8;
   padding:50px; 
  
}
 
   @media screen and (min-width:320px)and(max-width:640px){
      .the-models-cards{
      font-size: 24px;
      padding: 10px;
   }
 
}
.models-1{
   background-color: #FFF8EB;
}
.models-2{
   background-color: #F0F7FF;
}
.models-3{
   background-color: #E5FFF0;
}


.grid-counter{
   border: 1px solid  #e6e6e8;
}
.counter-contain{
   width: 743px;
   @media screen and (min-width:320px)and(max-width:1279px){
      font-size: 14px;
      width: auto;
  }
    }
.benifits-section{
   .benifits-small-heading{
      font-size: 10px;
   }
   .benifits-small-paragraph{
      font-size: 12px ;
      width: 302px;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 12px;
         width: auto;
     }
   }
   .benifits-img{
width: 30px;
   }
   .Benefits-styling-heading{
      top: 204px;
      left: -136px;
   }
   .tick-heading{
      border: 1px solid #e6e6e8;
      padding: 13px 21px  14px 28px;
      margin-bottom: 10px;
      // margin-left: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -175px;
      bottom: 38%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 34%;
         padding: 14px 15px  14px 15px;
         font-size: 16px;
     }
   }
   .tick-heading-2{
      border: 1px solid #e6e6e8;
      padding: 13px 81px 14px 28px ;
      margin-bottom: 10px;
      // margin-left: -20px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -196px;
      bottom: 25%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 17%;
         padding: 14px 40px  14px 15px;
         font-size: 16px;
     }
   }
   .tick-heading-3{
      border: 1px solid #e6e6e8;
      padding: 13px 68px 14px 28px ;
      margin-bottom: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -220px;
      bottom: 12%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 1%;
         padding: 14px 16px  14px 15px;
         font-size: 16px;
     }
   }
   // .main-benifits-img{
   //    width: 10px;
   // }
}

.cards-contain {
   border: 1px solid #F4F4F5;
   margin: 12px;
   padding: 35px;
   background-color: #F4F4F5;
}
select {
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #E8E8E8; 
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   overflow: hidden;
   border-radius: .25em;
}
// .select::after {
//    content: '';
//    position: absolute;
//    top: 0;
//    right: 0;
//    padding: 0 1em;
//    cursor:pointer;
//    pointer-events:none;
//    transition:.25s all ease;
// }
//  
 
.case-imgs{
   width: 100%;
}
.case-imgs-load-button{
background-color: #BCFA01;
padding: 10px  30px ; 
 border-radius: 50px;
 display: flex;
 width: fit-content;
}