@import "./variable";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  .about-section-button {
     background-color: #BCFA01;
     padding: 10px  30px ; 
      color: black;
      border-radius: 50px;
      display: inline-block;
margin-top: 20px;
   }
 .how-it-work-section{
   display: flex;
 flex-direction: column;
align-items: center;
color: #fff;
background-color: #091071;
.how-it-work-section-contain{
   margin:13px 270px 79px 270px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin: auto;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:    20px 0 20px;
}
 } 
 }


 .heading{
   
   text-align: center;
margin-top: 50px;
.border-paragraph{
   border-left:1px solid #fff;
   border-top:1px solid #fff;
   border-right:1px solid #fff;
   padding: 5px;
 }

 
 }

 .about-section{
   margin: 96px 270px 79px 270px;
   .about-section-img{
      width: 20px;
   }
   @media screen and (min-width:320px)and(max-width:1279px){
      margin: 20px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   .about-section-paragraph{
      width: 668px;
      line-height: 28px;
      @media screen and (min-width:320px)and(max-width:1279px){
         width: auto;

     }

    }
    .about-section-heading{
      width: 668px;
      margin-bottom: 38px;
      @media screen and (min-width:320px)and(max-width:1279px){
         width: auto;
         font-size: 20px;
     }
    }
 }


 
.cards-section{
   margin: 96px 270px 79px 270px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:10px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 60px 20px;
}
   .cards-contain{
      border: 1px solid #F4F4F5;
      margin: 12px;
      padding: 35px;
      background-color: #F4F4F5;
      @media screen and (min-width:320px)and(max-width:1279px){
        padding: 20px;
     }
    }
    .cards-heading{
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 25px;
      }
      .cards-contain:hover:not(card-active){
         background:#fff;
         }
         .card-active{
            background:#fff;
         }
         .cards-contain p{
            line-height: 22px;
            word-spacing: 5px;
          }
     
          .cards-section-main-paragraph{
            font-size: 19px;
            margin-bottom: 53px;
            @media screen and (min-width:320px)and(max-width:1279px){
               font-size: 12px;
               margin: 10px 10px;
           }
          }
}



.design-an-branding-section{
   background-color: #091071;
 
   .design-an-branding-section-conatin{
      width: 963px;
   }
   .design-an-branding-bg{
      margin: 96px 270px 79px 270px;
      @media screen and (min-width:320px)and(max-width:1279px){
         margin:auto 10px;
     }
     @media screen and (min-width:1280px)and(max-width:1535px){
      margin:  20px 20px 0 20px;
  }
   }
   .design-an-branding-heading{
      font-size: 50px;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 24px;
         margin-top: 20px;
     }
   }
   .design-an-branding-paragraph{
      line-height: 38px;
    font-size: 22px;
    margin-top: 15px;
   }
}

.Involed-Industries-section{
   margin: 96px 270px 79px 270px;
   .involed-industries-name li:not(first-child){
      margin-top: 15px;
   }
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:20px 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   // .Involed-Industries-list{
   //    display: grid;
   //    grid-template-columns: auto auto auto auto auto;
   //    gap: 28px;
   //    margin-top: 40px;
   // }
 
   .Involed-Industries-paragraph{
font-size: 23px;
   }
}
// over 
.swiper-section{
   margin: auto 214px;
   @media screen and (min-width:320px)and(max-width:1279px){
      margin:auto 10px;
  }
  @media screen and (min-width:1280px)and(max-width:1535px){
   margin:  146px  20px 0 20px;
}
   .eCommerce-p{
      bottom: 41px;
      left: 52px;
   }
   .ecommerce-p-1{
      border: 1px solid #FFFFFF;
      background-color: rgb(207, 209, 208);
      color: black;
     padding: 6px;
      font-size: 16px;
   }
   .ecommerce-p-2{
       font-size: 24px;
      color:white;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 24px;
     }
   }
   .swiper-wrapper{
      margin-top: 72px;
   }
 
   .swiper-section-paragraph{
      font-size: 19px;
   }
}

// over

.blogs-section{
   margin-top: 70px;
   @media screen and (min-width:1280px)and(max-width:1535px){
      margin:  146px  20px 0 20px;
  }
   .blog-section-container-1{
      background-color: #F4F4F4;
      border: 1px solid #FFFFFF;
   }
   .blog-container-1-heading{
      border: 1px solid  #BCFA01;
      background-color:  #BCFA01;
      
   }
   .blog-container-2-heading{
      border: 1px solid  #D6F5D9 ;
      background-color:   rgb(214, 247, 217);
   }
   .blog-container-3-heading{
      border: 1px solid  #EBD6F5;
      background-color:   rgb(235, 214, 245);
   }
   .blog-container-4-heading{
      border: 1px solid  #D6DFF5;
      background-color:   rgb(214, 223, 245);
      font-size: 20px;
   }
   .blog-container-5-heading{
      border: 1px solid  #F5D6D6;
      background-color:   rgb(245, 214, 214);
   }

.blog-container-2{
   padding: 8px;
}
}
// 

.words-from-client-div{
   width: 370px;
   @media screen and (min-width:320px)and(max-width:1279px){
      width: auto;
  }
   .words-from-client-heading{
 color: $header-background ;
 font-size: 38px;
}
.words-from-client-heading-2{
font-size: 51px;
  }
.profile-containt{
   font-size: 18px;
   line-height: 26px;
}
}
// 
// 
 
 .container {
margin: 50px auto;

 
.panel {
   background-color: white;
   border-left: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   padding: 0 20px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-in-out;
 }

 button.accordion {
   width: 100%;
    border-bottom: 2px solid #E3E3E3;
   outline: none;
   text-align: left;
   padding: 15px 20px;
   color: #333;
   cursor: pointer;
   transition: background-color 0.2s linear;
 }
 .panel-paragraph{
   font-size: 20px;
   line-height: 30px;
 }
 
 
 button.accordion:hover, button.accordion.is-open {
   background-color: #ddd;
 }
 }
// 
 
// 
.counter1 {
 
    .counter-card1 h2 {
      font-size: 44px;
    }
    .counter-card1 p {
      font-size: 20px;
    }
    .counter-card1 h2{
      color:#0f035a;
    }
    .counter-box{
border-bottom: 1px solid  #e6e6e8;
padding: 30px 57px 45px 27px;
    }
    .counter-box-lift{
      border-left: 1px solid  #e6e6e8;
      padding: 30px 57px 45px 27px;
    }
 }
//  

.ecommerce-p-3{
   border: 1px solid #FFFFFF;
   background-color: rgb(207, 209, 208);
   color: black;
   border: none;
  padding: 6px;
   font-size: 16px;
}
 
.ecommerce-p-4{
   font-size: 24px;
  color:white;
  @media screen and (min-width:320px)and(max-width:1279px){
     font-size: 24px;
 }
}
.eCommerce-p-2{
   bottom: 41px;
   left: 52px;
}
 
.card-container{
  padding: 30px 54px 44px 20px;
   // &:first-child,
   // &:nth-child(4){
   // border: 1px solid black;
border-bottom: 1px solid #e6e6e8;
border-right: 1px solid  #e6e6e8; 
}

.card-container-end{  
   border-bottom: 1px solid #e6e6e8;
   padding: 30px 54px 44px 20px;
}
.card-heading {
   padding: 10px 30px;
   margin-bottom: 40px;
}
.card-no1 {
   background-color: #EDEAFF;
}
.card-no2 {
   background-color: #fceaea;
}
.card-no3 {
   background-color: #dbfce8;
}
.card-no4 {
   background-color: #fdeaf8;
}
.card-no5{
   background-color: #f8f2e7;
}
.card-no6 {
   background-color: #EaF3ff;
}
.card-no7 {
   background-color: #fdfbd9;
}
.the-models-cards{
   border-bottom: 1px solid #e6e6e8;
   padding:50px; 
  
}
 
   @media screen and (min-width:320px)and(max-width:640px){
      .the-models-cards{
      font-size: 24px;
      padding: 10px;
   }
 
}
.models-1{
   background-color: #FFF8EB;
}
.models-2{
   background-color: #F0F7FF;
}
.models-3{
   background-color: #E5FFF0;
}


.grid-counter{
   border: 1px solid  #e6e6e8;
}
.counter-contain{
   width: 743px;
   @media screen and (min-width:320px)and(max-width:1279px){
      font-size: 14px;
      width: auto;
  }
    }
.benifits-section{
   .benifits-small-heading{
      font-size: 10px;
   }
   .benifits-small-paragraph{
      font-size: 12px ;
      width: 302px;
      @media screen and (min-width:320px)and(max-width:1279px){
         font-size: 12px;
         width: auto;
     }
   }
   .benifits-img{
width: 30px;
   }
   .Benefits-styling-heading{
      top: 204px;
      left: -136px;
   }
   .tick-heading{
      border: 1px solid #e6e6e8;
      padding: 13px 21px  14px 28px;
      margin-bottom: 10px;
      // margin-left: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -175px;
      bottom: 38%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 34%;
         padding: 14px 15px  14px 15px;
         font-size: 16px;
     }
   }
   .tick-heading-2{
      border: 1px solid #e6e6e8;
      padding: 13px 81px 14px 28px ;
      margin-bottom: 10px;
      // margin-left: -20px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -196px;
      bottom: 25%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 17%;
         padding: 14px 40px  14px 15px;
         font-size: 16px;
     }
   }
   .tick-heading-3{
      border: 1px solid #e6e6e8;
      padding: 13px 68px 14px 28px ;
      margin-bottom: 10px;
      background-color: #FFFFFF;
      border-radius: 5px;
      left: -220px;
      bottom: 12%;
      @media screen and (min-width:320px)and(max-width:1279px){
         left: 4px;
         bottom: 1%;
         padding: 14px 16px  14px 15px;
         font-size: 16px;
     }
   }
   // .main-benifits-img{
   //    width: 10px;
   // }
}

.cards-contain {
   border: 1px solid #F4F4F5;
   margin: 12px;
   padding: 35px;
   background-color: #F4F4F5;
}
select {
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #E8E8E8; 
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3;
   overflow: hidden;
   border-radius: .25em;
}
 
 
.case-imgs{
   width: 100%;
}
.case-imgs-load-button{
background-color: #BCFA01;
padding: 10px  30px ; 
 border-radius: 50px;
 display: flex;
 width: fit-content;
}
.case-details-main-content p{
   line-height: 38px;
   @media screen and (min-width:320px)and(max-width:1279px){
      line-height: 25px;
  }
      }
.case-details-main-content{

   .img-ul{
      list-style-image: url(/assets/image/list-img.svg);

   }
   .language-list{
      list-style-type: disc;
      color: #FFFFFF;
gap: 50px;
   }
   .case-language-details{
      padding:0 100px ;
      margin:10px 0;
      
      @media screen and (min-width:320px)and(max-width:1279px){
         padding:10px;
     }
   }
   .result-section{
      background-color:#F4F4F5;
      padding: 33px 0    37px 30px;
      border-radius: 5px;
   }
   .aside-case-detials{
      background-color:#F4F4F5;
      padding: 33px 0 34px 30px;
      border-radius: 5px;
   }
   .subcribe-section{
      background-color:#F4F4F5;
      border-radius: 5px;
      padding: 37px 18px 32px 25px;
      // background: rgb(91,255,102);
      // background: linear-gradient(90deg, rgba(91,255,102,1) 25%, rgba(0,255,18,1) 37%, rgba(0,203,14,1) 62%);
      border-top: 10px solid  rgb(188,250,1);
   }
   .input-type-subcribe{
      padding: 15px 115px 15px 18px;
      @media screen and (min-width:320px)and(max-width:1279px){
         padding: 15px 50px 15px 18px;
     }
   }
   .aside-case-detials li{
      margin-top: 10px;
      list-style-type: disc;
   }
   .subcribe-button{
      display:  block;
      text-align: center;
   }
}
// 
.Blog-main-content p{
   color:  #999aa4;
}
.Blog-main-content{
   border: 1px solid white;
   background-color: white;
   padding: 10px;
position: relative;
@media screen and (min-width:1025px)and(max-width:1535px){
 top: -20px;
 
}


   .blog-section-sub-part-1{
      border: 1px solid white;
      padding: 20px;
      background-color: #F4F4F5;
   }
   .blog-section-sub-part-1{
      border: 1px solid white;
      padding: 20px;
      background-color: #F4F4F5;
      @media screen and (min-width:320px)and(max-width:640px){
         padding: 10px;
         }
   }
   .blog-section-sub-part-2{
      border: 3px solid #F4F4F5;
   }
   .clock-icon{
      width: 22px;
   }
   .aside-container-of-blog{
      border: 1px solid white;
      background-color: #F4F4F5;
      border-radius: 5px;
   }
   .genral{
      padding:22px 15px;
         background-color:   rgb(235, 214, 245); 
}
.genral-color-2 {
   padding:10px 15px;
   background-color: #EDEAFF;
}
.genral-color-3{
   padding:10px 15px;
   background-color: #E5FFF0;
}
.genral-color-4 {
   padding:10px 15px;
   background-color: #f8f2e7;
}
.genral-color-5{
   padding:10px 15px;
   background-color: #EaF3ff;
}
}

.Blog-details-main-content-contact-us{
 border: 1px solid  #F4F4F5;
 padding: 10px;

    
      border-radius: 5px;
      padding: 37px 18px 32px 25px;
      // background: rgb(91,255,102);
      // background: linear-gradient(90deg, rgba(91,255,102,1) 25%, rgba(0,255,18,1) 37%, rgba(0,203,14,1) 62%);
      border-top: 10px solid  rgb(188,250,1);
}
.img-ul{
   list-style-image: url(/assets/image/list-img.svg);
}
.img-ul li{
   margin-top: 10px;
   
}
 
.genral{
   padding:22px 15px;
   font-size: 16px;
      background-color:   rgb(235, 214, 245); 
}
.genral-color-2 {
   font-size: 16px;
padding:10px 15px;
background-color: #EDEAFF;
}
.genral-color-3{
   font-size: 16px;
padding:10px 15px;
background-color: #E5FFF0;
}
.genral-color-4 {
   font-size: 16px;
padding:10px 15px;
background-color: #f8f2e7;
}
.genral-color-5{
   font-size: 16px;
padding:10px 15px;
background-color: #EaF3ff;
}
.aside-container-of-blog{
   border: 1px solid white;
   background-color: #F4F4F5;
   border-radius: 5px;
}
.Blog-details-main-content p{
   width: 856px;
   @media screen and (min-width:320px)and(max-width:1150px){
width: auto;
      }
}
.date-heading{
   font-size: 15px;
}
.aside-content{
   font-size: 16px;
   line-height: 27px;
}
.contact-content input{
background-color: #FBFBFB ;
padding: 10px;
width: 406px;
@media screen and (min-width:320px)and(max-width:1024px){
   width: auto;
         }

}
.contact-content textarea{
   background-color: #FBFBFB ;
   padding: 10px;
   width: 845px;
   height: 155px;
   @media screen and (min-width:320px)and(max-width:1024px){
      width: auto;
            }
 
   }
   // 
 
 
 
.drag-area{
  border: 2px dashed #fff;
  width: 845px;
  border-radius: 5px;
  display: flex;
  background-color: #AAAEF2;
  align-items: center;
  gap: 15px;
  padding-left: 26px;
  @media screen and (min-width:320px)and(max-width:1024px){
   width: auto;
         }
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
 
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  @media screen and (min-width:320px)and(max-width:1024px){
   width: auto;
         }  

}
.recaptcha-section{
 border: 1px solid gray;
   border-radius: 5px;
   .recaptcha{
      width: 80px;
   }

}
.captha-button{
   border: 1px solid #BCFA01;
   background-color: #BCFA01;
   border-radius: 50px;
   padding: 10px 45px 10px 45px; 
   color: black;
}
.icon-content{
   font-size: 16px;
}
.form-paragraph{
   width: 845px;
   @media screen and (min-width:320px)and(max-width:1024px){
      width: auto;
            }
}
.file-names-paragraph{
   font-size: 12px;
   padding-top: 20px;
   display: flex;
   justify-content: end;

} 
.tecnology-section-sub-part-1{
   border: 1px solid white;
   padding: 42px;
   border-radius: 5px;
   background-color: #F4F4F5;
 

   .tecnology-section-sub-part-2{
      border: 1px solid white;
      padding: 42px;
      border-radius: 5px;
      background-color: #F4F4F5;
   }
   .language-imgs{
      gap: 100px;
      @media screen and (min-width:320px)and(max-width:640px){
         gap: 40px;
         }
   }
   .hyper-link{
      border: 1px solid  #FBFBFB;
      padding: 0px 10px;
      border-radius: 5px;
      background-color: white;
       i{
         margin-left: 5px;
      }
   }
   @media screen and (min-width:320px)and(max-width:640px){
      padding: 10px;
      }
      
}
.tecnology-section-sub-part-2{
   border: 1px solid white;
   padding: 42px;
   border-radius: 5px;
 
 
   .language-imgs{
      gap: 100px;
      @media screen and (min-width:320px)and(max-width:640px){
         gap: 40px;
         }
   }
   .hyper-link{
      border: 1px solid  #FBFBFB;
      padding: 0px 10px;
      border-radius: 5px;
      background-color: white;
       i{
         margin-left: 5px;
      }
   }
   @media screen and (min-width:320px)and(max-width:640px){
      padding: 10px;
      }
      
}
.multiple-crads{
   border: 1px solid #E9E9E9;
   background-color: #FBFBFB;
   padding: 44px 54px 42px 48px;
   line-height: 40px;
   @media screen and (min-width:320px)and(max-width:640px){
      padding: 20px;
      line-height: 23px;
     
      }
}
.select-1{
  
      outline:0;
      box-shadow:none;
      border:0!important;
      background: #E8E8E8; 
      background-image: none;
      flex: 1;
      padding: 0 .5em;
      cursor:pointer;
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
 
}
 
   .career-search-input{
      background-color: #E8E8E8;
      padding: 6px 18px;
      border-radius: 5px;
   }
   
   .career-read-more-btn {
    border: 1px solid black;
      padding: 10px  30px ; 
       color: black;
       border-radius: 50px;
       display: inline-block;
   margin-top: 20px;
    }
    
 
// 
.technology-career {
   padding: 19px 19px 20px 12px;
   .tech-no-caed {
     p {
       font-size: 14px;
       margin-top: 10px;
     }
   }
 }
 .tech-img {
   padding: 8px 26px 12px 26px;
   background-color: #f2f1f1;
   border-color: #e9e9e9;
   border-radius: 100px;
   img {
     width: 100% !important;
     object-fit: scale-down;
   }
 }
 .read-me,
 .search {
   padding: 14px 48px;
 }
 
 .select-filed {
   width: 284px;
   margin-right: 23px;
   @media screen and (max-width: 1279px) {
     width: 100%;
   }
 }
 
 .techno-color {
   background-color: #fbfbfb;
 }
 
 .career-color-input {
   background-color: #f4f4f5 !important;
 }
 
 .body-modal {
   background: #fff;
   z-index: 1000;
   padding: 30px 50px 42px 40px;
 }
 
 .cross-button {
   background-color: #ededed;
   padding: 12px 18px;
 }
 
 .ctc-gap {
   gap: 46px;
 }
 
 .custom-upload {
   background-color: #f5f6f6;
   margin-top: 34px;
   padding: 34px 288px;
   border-color: #b1b1b1;
 }
 
 .tech-img-2 {
     padding: 20px 23px 26px 23px  !important;
 }
 
 .tech-img-3 {
   padding: 24px 2px 20px 2px !important;
 }
 
 .tech-img-4 {
   padding: 18px 15px 22px 15px !important;
 }
 
 .tech-img-5 {
   padding: 18px 23px 22px !important;
 }
 
 .tech-img-6 {
   padding: 20px 18px 20px 19px !important;
 }
 
 .tech-img-7 {
   padding: 28px 27px 20px 27px !important;
 }
 
 .tech-img-8 {
   padding: 23px 21px 19px 25px !important;
 }
 
 .career-table {
   margin-top: 50px;
 }
 
 .td-width {
   width: 584px;
   @media screen and (max-width: 767px) {
     width: 100% !important;
   }
   @media screen and (min-width: 768px) and (max-width: 1023px) {
     width: 400px !important;
   }
   @media screen and (min-width: 1024px) and (max-width: 1279px) {
     width: 460px !important;
   }
 }
 
 .top-padding {
   padding: 19px 19px 20px 12px;
   @media screen and (max-width: 767px) {
     padding: 19px 0 0;
   }
 }
 .bottom-padding {
   padding: 19px 19px 20px;

   @media screen and (max-width: 767px) {
     padding: 0 0 19px;
     align-items: center;
   }
 }
 
 .non-floating {
   gap: 107px !important;
   @media screen and (max-width: 767px) {
     gap: 50px !important;
     li {
       font-size: 12px;
     }
     margin: 16px !important;
     .apply-now {
       padding: 16px;
     }
   }
   @media screen and (min-width: 767px) and (max-width: 1279px) {
     gap: 20px !important;
     grid-template-columns: auto 300px;
     padding: 10px 16px;
     aside {
       width: 300px;
       justify-self: end;
     }
     li {
       font-size: 14px;
     }
   }
 }
 
 .career-section-button{
   background-color: #BCFA01;
   padding: 10px  30px ; 
    border-radius: 50px;
    display: flex;
    width: fit-content;
   }
   #edit{
      background-color: #BCFA01;
      padding: 10px  30px ; 
       border-radius: 50px;
       display: flex;
       width: fit-content;
      }


      .career-details-aside{
         border: 1px solid #E2E2E2;
         border-radius: 2px;
         padding: 22px 27px 34px 26px;
        width: 379px;
        @media screen and (min-width:320px)and(max-width:640px){
         width: auto;
         }
      }
      .career-details-aside-heading{
         color: #E2E2E2;
         font-size: 20px;
      }
      .career-details-section-button{
         background-color: #BCFA01;
         padding: 10px  30px ; 
          border-radius: 50px;
          display: flex;
            justify-content: center;
            margin-top: 30px;
         }
         .condition-page-content{
            color: #999aa4;
          line-height: 30px;
          @media screen and (min-width:320px)and(max-width:640px){
            line-height: 26px;
            }
         }
         .condition-page-ul li{
            list-style-type: disc;
            color: gray;
         }
         .condition-page-ul{
            margin-left: 22px;
         }
         .site-linkes {
            a {
              font-size: 16px;
            }
            border-color: #e9e9e9;
            margin-top: 69px;
            .content-2 {
              gap: 91px;
              li {
                margin-top: 17px;
                &:first-child {
                  margin-top: 28px;
                }
              }
            }
            @media screen and (max-width: 640px) {
              margin: 30px 10px 0;
              a {
                font-size: 12px;
              }
              .content-2 {
                gap: 50px;
              }
              .list-items-2 {
                margin: 14px 0 24px;
              }
            }
            @media screen and (min-width: 640px) and (max-width: 767px) {
              margin: 30px 20px 0;
              a {
                font-size: 14px;
              }
              .content-2 {
                gap: 60px;
              }
              .list-items-2 {
                margin: 20px 0 30px;
              }
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
              margin: 30px 40px 0;
          
              .content-2 {
                gap: 60px;
              }
              .list-items-2 {
                margin: 28px 0 40px;
                gap: 28px !important;
              }
            }
            @media screen and (min-width: 1024px) and (max-width: 1279px) {
              margin: 40px 40px 0;
            }
          }
          
          .list-items-2 {
            gap: 120px;
            margin: 28px 0 60px;
            li {
              margin-top: 5px !important;
              &:first-child {
                margin-top: 18px !important;
              }
            }
          }
          
         //  
         .close-btn{
            border: 1px solid;
            border-radius: 50px;
            background-color: #EDEDED;
            padding: 1px 9px;
         }
         .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
         .center button{
            padding: 10px 20px;
            font-size:15px ;
            color: #222;
            background-color: #f5f5f5;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 5px;
         }
         .popup{
            position: absolute;
            top: -150%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.25);
            width: 380px;
            padding: 20px 30px;
            background: #fff;
            box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
            border-radius: 10px;
            transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms,;
         }
         .popup.active{
            top: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1 );
            transition: top 0ms ease-in-out  0ms,
            opacity 200ms ease-in-out 0ms,
            transform 20ms ease-in-out 0ms,;
         }
         .popup .close-btn{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 15px;
            height: 15px;
            background: #888;
            color: #eee;
            text-align: center;
            line-height: 15px;
            border-radius: 15px;
            cursor: pointer;
         }
         // 
         .box-modal {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0px;
            top: 0px;
            visibility: hidden;
            .overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 0px;
              background: #000;
              opacity: 0;
              transition: opacity 1.3s;
            }
          
            .body-modal {
              max-height: 0px;
              opacity: 0;
              overflow: hidden;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          
            &.modal-show {
              visibility: visible;
              transition: all 0.9s;
              .overlay {
                opacity: 0.5;
                transition: opacity 1.3s;
              }
          
              .body-modal {
                max-height: 1000px;
                opacity: 1;
                z-index: 200;
                width: 1004px;
                transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
              }
            }
            @media screen and (min-width: 320px) and (max-width: 1535px) {
              .body-modal {
                max-height: 100% !important;
                top: 0;
                overflow-y: scroll;
                transform: none;
                left: auto;
              }
              .custom-upload {
                padding: 20px 14px;
                margin-top: 20px;
              }
              .ctc-gap {
                gap: 20px;
              }
            }
            @media screen and (min-width: 320px) and (max-width: 1023px) {
              .overlay {
                overflow-y: none;
              }
              .body-modal {
                top: 0px;
                width: 100% !important;
                padding: 0;
                form {
                  padding: 0 20px 26px;
                  height: 100%;
                }
              }
            }
            @media screen and (min-width: 1024px) and (max-width: 1279px) {
              .body-modal {
                padding: 6px 26px 12px 21px;
              }
            }
            @media screen and (min-width: 1536px) and (max-width: 1727px) {
              .body-modal {
                max-height: 100%;
                padding: 8px 28px 24px;
                overflow-y: scroll;
              }
            }
            @media screen and (min-width: 1280px) and (max-width: 1535px) {
              .body-modal {
                padding: 12px 28px;
              }
            }
          }
          
          .active-modal {
            .mobile-unblur {
              z-index: 0;
            }
            overflow: hidden;
          }
          
          .search {
            background-color: $button-color;
            border-radius: 100px;
          }
          
          .searching-filed {
            background-image: url("/assets/image/clint-page/Search.svg");
            background-repeat: no-repeat;
            background-position: left 14px top 50%;
            padding-left: 54px;
            width: 494px;
            margin-right: 23px;
            @media screen and (max-width: 1279px) {
              width: 100%;
            }
          }
          
          select {
            appearance: none;
            padding: 8px 169px 8px 16px;
            background-color: #f4f4f4;
            border: 1px solid #e6e6e8;
            border-radius: 4px;
            appearance: none;
            background-image: url("/assets/image/contact-us-image/arrow-down.svg") !important;
            background-repeat: no-repeat !important;
            background-position: right 16px top 50% !important;
          }
          
          .technology-career {
            padding: 19px 19px 20px 12px;
            .tech-no-caed {
              p {
                font-size: 14px;
                margin-top: 10px;
              }
            }
          }
          .tech-img {
            padding: 16px 25px 16px 26px;
            background-color: #f2f1f1;
            border-color: #e9e9e9;
            border-radius: 100px;
            img {
              width: 100% !important;
              object-fit: scale-down;
            }
          }
          .read-me,
          .search {
            padding: 14px 48px;
          }
          
          .select-filed {
            width: 284px;
            margin-right: 23px;
            @media screen and (max-width: 1279px) {
              width: 100%;
            }
          }
          
          .techno-color {
            background-color: #fbfbfb;
          }
          
          .career-color-input {
            background-color: #f4f4f5 !important;
          }
          
          .body-modal {
            background: #fff;
            z-index: 1000;
            padding: 30px 50px 42px 40px;
          }
          
          .cross-button {
            background-color: #ededed;
            padding: 12px 18px;
          }
          
          .ctc-gap {
            gap: 46px;
          }
          
          .custom-upload {
            background-color: #f5f6f6;
            margin-top: 34px;
            padding: 34px 288px;
            border-color: #b1b1b1;
          }