@import "./font";
$header-background:#00065a;
$priary-color: #01031c;
$button-color:#BCFA01;
$text-color:#ffffff;
$section-background: #f4f4f5;
$light-fonts:light-Neurial Grotesk;
$medium-fonts:medium-Neurial Grotesk;
$NeurialGrotesk:Neurial Grotesk;
$background-color-white:white;